.chat
  //padding: 20px
  text-align: left
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1)
  z-index: 1
  .chat-wrapper
    height: 70%
    overflow-y: scroll
    .msg-wrapper
      padding: 20px
      &:nth-child(odd)
        background: #f8f8f8
      .person
        display: flex
        align-items: center
        margin-bottom: 15px
        .avatar
          width: 50px
          height: 50px
          background:
            repeat: no-repeat
            position: center
            size: cover
        .person-info
          margin-left: 15px
          color: #266b88
          .name
            font:
              size: 18px
              weight: 600
          .title
            font:
              size: 14px
      .person-msg
        p
          font:
            size: 14px
          line-height: 20px
      hr
        margin: 10px 20px 10px 0
        border: 1px solid #ddd
