section#cs
  .cs
    .cs--logo
    .cs--body.cs-body
      .cs-body--logo
        img(src="assets/images/outspyr-big.png" alt="Outspyr - Platform for desiners")
      .cs-body--form.cs-body-form
        h1.cs-body-form--heading In the making
        p.cs-body-form--lead This platform is being developed. <br> Enter your email to get notified when it’s live.
        p.cs-body-form--p <strong>OUTSPYR</strong> is the platform meant to be used by the graphic designers who are seeking constructive feedback on their work, as well as the ability to get more project attention.
        p.cs-body-form--lead Enter your email to get notified when we are live!
        .cs-body-form--input-group.cs-input-group
          input.cs-input-group--input(type="text" placeholder="Please, Enter Your Email")
          button.cs-input-group--btn(type="submit") Submit
    .cs--footer.cs-footer
      .cs-footer--copyright
        p Copyright © OUTSPYR 20.16
      .cs-footer--socials.cs-socials
        .cs-social.cs-socials--inst
          include ../assets/images/instagram.svg
        .cs-social.cs-socials--twit
          include ../assets/images/twitter.svg
        .cs-social.cs-socials--fb
          include ../assets/images/facebook.svg
