.profile-wrapper
  height: 100%
  section#profile
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    background:
      image: url(../images/bg.jpg)
      position: center
      size: cover
